<div class="uk-navbar-container" uk-navbar>
    <nav class="uk-navbar-container">
        <div class="uk-container">
        </div>
    </nav>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/login">Login</a></li>
            <li><a href="/private/ui/profile">My Profile</a></li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <a href="/ui" class="uk-navbar-item uk-logo">MYK</a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <nav class="uk-navbar-container">
        <div class="uk-container">
        </div>
    </nav>
</div>
