<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    {% if is_authenticated %}
                    <li class="uk-hidden-small"><a href="/ui/profile">My Profile</a></li>
                    {% else %}
                    <li class="uk-hidden-small"><a href="/login">Login</a></li>
                    {% endif %}
                    <li class="uk-hidden-small"><a href="/">Dashboard</a></li>
                </ul>
            </div>

            <div class="uk-navbar-center uk-navbar-brand uk-navbar-item uk-logo">
                <h1 class="uk-heading-small">
                    <a class="uk-link-heading" href="/">MYK</a>
                </h1>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-hidden-small"><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
