{% extends 'base.html' %}

{% block style %}
  <style>
    li.htmx-swapping {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="uk-container">
    <div class="uk-grid uk-grid-divider" uk-grid>
      <div class="uk-width-3-5 uk-row-first">
        <p class="uk-text-lead uk-text-center uk-margin-top">Latest transfers</p>
        <hr>
        <table class="uk-table uk-table-hover uk-overflow-auto">
            <thead>
                <tr>
                    <th class="uk-width-large">From</th>
                    <th class="uk-width-large">To</th>
                    <th class="uk-width-small">Amount</th>
                    <th class="uk-width-small">Currency</th>
                </tr>
            </thead>
            <tbody hx-swap="innerHTML"
                   hx-get="/api/transactions?__visible_fields=currency.code,amount,sender_wallet_id,receiver_wallet_id"
                   hx-trigger="load"
                   hx-ext="client-side-templates"
                   mustache-template="transactions-template">
            </tbody>
        </table>
      </div>

      <div class="uk-width-2-5 uk-row-first">
        <div class="uk-margin-top">
          <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-card-title uk-text-center">Transactions</h1>
            <p>All time: <b htmx-swap="innerHTML"
                            hx-get="/api/transactions/count"
                            hx-trigger="load"
                            hx-ext="client-side-templates"
                            mustache-template="count-template"></b></p>
            <p>Last 24h: <b htmx-swap="innerHTML"
                            hx-get="/api/transactions/count?days=1"
                            hx-trigger="load"
                            hx-ext="client-side-templates"
                            mustache-template="count-template"></b></p>
            <h1 class="uk-card-title uk-text-center">Amount</h1>
            <p>All time: <b>{{ transactions_amount|round(2) }} $</b></p>
            <p>Last 24h: <b>{{ transactions_amount_24h|round(2) }} $</b></p>
          </div>
        </div>
        <div class="uk-margin-top">
          <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-card-title uk-text-center">Exchange rate</h1>
            <table class="uk-table uk-table-divider">
              <thead>
                <tr>
                  <th class="uk-text-center">Currency</th>
                  <th class="uk-text-center">Rate</th>
                  <th class="uk-text-center">Inverse rate</th>
                </tr>
            </thead>
              {% for currency in currencies %}
                <tr class="uk-text-center">
                  <td><b>{{ currency.code }}</b></td>
                  <td><b>{{ currency.to_base_rate }}</b></td>
                  <td><b>{{ (1/currency.to_base_rate)|round(2) }}</b></td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <template id="count-template">{% raw %}{{ count }}{% endraw %}</template>
  <template id="transactions-template">
{% raw %}
    {{ #rows }}
    <tr>
        <td><input class="uk-input" type="text" placeholder="From" value="{{ sender_wallet_id }}" readonly></td>
        <td><input class="uk-input" type="text" placeholder="To" value="{{ receiver_wallet_id }}" readonly></td>
        <td><input class="uk-input uk-text-right uk-text-primary" type="text" placeholder="Amount" value="{{ amount }}" readonly></td>
        <td><input class="uk-input uk-text-bold" type="text" placeholder="Currency" value="{{ currency.code }}" readonly></td>
    </tr>
    {{ /rows }}
{% endraw %}
  </template>

{% endblock %}

{% block javascript %}
  <script>
    htmx.on('htmx:afterSwap', function(event) {
      document.getElementById("contentInput").value = ""
    });
  </script>
{% endblock %}
