{% extends 'base.html' %}

{% block style %}
  <style>
    li.htmx-swapping {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="uk-container">
    <div class="uk-grid uk-grid-divider" uk-grid>
      <div class="uk-width-3-5 uk-row-first">
        <h3 class="uk-margin-top">Last transactions</h3>

        <table class="uk-table uk-table-divider">
            <caption>Data for last 24h</caption>
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
                <tr>
                    <td><input class="uk-input" type="text" placeholder="From" value="{{ transaction.sender_wallet_id }}" readonly></td>
                    <td><input class="uk-input" type="text" placeholder="To" value="{{ transaction.receiver_wallet_id }}" readonly></td>
                    <td><input class="uk-input" type="text" placeholder="Amount" value="{{ transaction.amount }}" readonly></td>
                    <td><b>{{ transaction['currency.code'] }}</b></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>

      <div class="uk-width-2-5 uk-row-first">
        <h3 class="uk-margin-top">Statistics</h3>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Total transactions</h3>
            <p>Count: {{ transactions_total }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script>
    htmx.on('htmx:afterSwap', function(event) {
      document.getElementById("contentInput").value = ""
    });
  </script>
{% endblock %}
